body{
    background-color: #ffefcf;
    font-family: Verdana, Helvetica, sans-serif;
}

.title{
    font-size: 32px;
    font-weight: bold;
}

.links{
    font-size:18px;
}

.description{
    margin-top: 80px;
}

h2{
    margin-bottom: 50px;
}

.content{
    margin-bottom: 50px;
}

li{
    margin-top: 30px;
}